#contact-hero {
  margin-top: 82px;
  height: 665px;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222b54;
}

#contact-hero span {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

#contact-hero h2 {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

#contact-hero p {
  max-width: 600px;
  font-size: 18px;
  color: #fff;
}

#contact-details {
  padding: 128px 0;
}

#contact-details .box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#contact-details .box .icon {
  margin-right: 24px;
}
#contact-details .box .icon i {
  color: #b61984;
  font-size: 20px;
}

#contact-details iframe {
  margin-top: 64px;
  border-radius: 10px;
  height: 500px;
}

#contact-form {
  padding: 128px 0;
  background-color: #fde0e4;
}

#contact-form .img-box {
  text-align: right;
  margin-right: 40px;
}

#contact-form .form {
  padding: 40px 25px;
  max-width: 400px;
  background-color: #fff;
}
#contact-form .form form {
  margin-top: 50px;
}
#contact-form .form form .icon {
  position: relative;
  float: left;
  margin-left: 8px;
  margin-top: -29px;
  z-index: 2;
  color: #ff807c;
}

#contact-form .form form .icon-textarea {
  float: left;
  margin-left: 8px;
  margin-top: -110px;
  position: relative;
  z-index: 2;
  color: #ff807c;
}

#contact-form .form form input,
#contact-form .form form select,
#contact-form .form form textarea {
  padding-left: 32px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px;
  color: #818181;
}

#contact-form .form form input,
#contact-form .form form select {
  border-radius: 50px;
}

#contact-gallery {
  padding-bottom: 128px;
  background-color: #fde0e4;
}

#contact-gallery .gallery {
  max-width: 1200px;
  height: 300px;
  border-radius: 20px;
}

#contact-gallery .gallery img {
  width: 300px;
}

@media (max-width: 768px) {
  #contact-hero {
    height: 60vh;
    margin-top: 67px;
    text-align: center;
  }

  #contact-hero h2 {
    font-size: 30px;
  }

  #contact-hero img {
    display: none;
  }

  #contact-details {
    padding: 64px 0;
  }

  #contact-details .box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #contact-details iframe {
    height: 300px;
    margin-top: 32px;
  }

  #contact-form {
    padding: 64px 0;
  }
  #contact-form .img-box {
    margin-right: 0;
    margin-bottom: 32px;
  }

  #contact-form .form {
    border-radius: 10px;
    padding: 20px;
  }
  #contact-gallery {
    padding-bottom: 64px;
  }
  #contact-gallery .gallery img {
    width: 100%;
  }
}
